body {  
	background-color: white;  
  	font-family: Georgia, serif;
  	font-size: 100%;
  	line-height: 175%;
  	margin: 0 15% 0; 
}

body::-webkit-scrollbar {
	width: 0.99rem;
}
body::-webkit-scrollbar-track {
	background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
	background: #EA04EA;
}

.container {
 width: 100%;
}

header {  
	background-color: #20124F;
}

header::after {
 content: '';
 display: table;
 clear:both;
}

.logo{
 float:left;
}

nav {
 float:right;
}

nav ul{
 margin: 0;
 padding: 0;
 list-style: none;
}

nav li{
 display: inline-block;
 margin-left: 70px;
 padding-top: 45px;
 padding-right: 25px;
}

nav a {
 text-decoration:none;
}

nav a: hover {
 color: #000;
}

nav, footer {
  font-family: verdana, sans-serif;
  
}
nav ul li a:link, nav ul li a:visited {
  color: #FFF;
}

nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #EA04EA;
}

nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.first {
 font-size: 200%;
}

#intro img { 
 float: right;   
 margin: 0 12px;
}

.center {
 text-align:center;
}

img.center {
 display: block;
 margin: 0 auto;
}

.row{
 clear:both;
 margin-left: 400px;

 color: black;
 width: 600px;
 height: 300px;
 border: 4px dashed #EA04EA;
 border-width: 5px 5px;
}

.column{
    width: 50%;
    float: left;
}

