body {  
	background-color: white;  
  	font-family: Georgia, serif;
  	font-size: 100%;
  	line-height: 175%;
  	margin: 0 15% 0; 
}

body::-webkit-scrollbar {
	width: 0.99rem;
}
body::-webkit-scrollbar-track {
	background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
	background: #EA04EA;
}
main{
	margin-left: 5rem;
	padding: 1rem;
}

header {  
	text-align: center;  
	margin-top: 0;
  	
	background-color: #20124F;
}


nav, footer {
  font-family: verdana, sans-serif;
  
}
nav ul li a:link, nav ul li a:visited {
  color: #FFF;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #EA04EA;
}
nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}


.first{
	font-size: 200%;
}

#intro img {  float: right;   margin: 0 12px;}
